<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.dfbert.inst.seekarapp"
        version   = "0.9">

    <name>Seekar</name>

    <description>
       Rastreamento de veículos
    </description>

    <author href="http://dfbert.com" email="contato@dfbert.com">
        Daniel Fabricio
    </author>

    <!--
        Enable individual API permissions here.
        The "device" permission is required for the 'deviceready' event.
    -->
    <feature name="http://api.phonegap.com/1.0/device" />

    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->
    <preference name="permissions"                value="none"/>
	<preference name="splash-screen-duration" value="0"/>

    <!-- Customize your app and platform with the preference element. -->
    <preference name="phonegap-version"           value="3.6.3" />          <!-- all: current version of PhoneGap -->
    <preference name="orientation"                value="default" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="false" />           <!-- all: hides the status bar at the top of the screen -->
	<preference name="android-minSdkVersion" value="5" />
	<gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />
	<icon src="5757.png" gap:platform="ios" width="57" height="57" />
	<icon src="7272.png" gap:platform="ios" width="72" height="72" />
	<preference name="StatusBarOverlaysWebView" value="false"/>
	<preference name="StatusBarBackgroundColor" value="#4C4C4C"/>
	<preference name="StatusBarStyle" value="lightcontent" />
	<icon src="logo.png" />
	<icon src="logo.png" gap:platform="android" />
	<gap:splash src="splash.png" />

    <!-- Plugins can also be added here. -->
    <!--
        <gap:plugin name="Example" />
        A list of available plugins are available at https://build.phonegap.com/docs/plugins
    -->
    <!--
        Define access to external domains.

        <access />            - a blank access tag denies access to all external resources.
        <access origin="*" /> - a wildcard access tag allows access to all external resource.

        Otherwise, you can specify specific domains:
    -->
    <access origin="*"/> <!-- allow local pages -->
    <!--
        <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
        <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
        <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
    -->

</widget>
